<div id="app">
  <nav class="navbar navbar-expand navbar-dark" style="background-color: #0d3e8e;" *ngIf="isLoggedIn" >
    <a href="#" class="navbar-brand">
      <img
      id="profile-img"
      src="../assets/images/corisbank2.png"
       />
    
    </a>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" *ngIf="showAdminBoard" routerLinkActive="active">
        <a href="/admin" class="nav-link" routerLink="admin">SUPER ADMIN</a>
      </li>
      <li class="nav-item" *ngIf="showModeratorBoard" routerLinkActive="active">
        <a href="/register" class="nav-link" routerLink="register">NOUVELLE UTILISATEUR</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a href="/extraction" class="nav-link" *ngIf="isLoggedIn" routerLink="extraction">EXTRACTION</a>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto dropleft" *ngIf="isLoggedIn">
      <li class="nav-item dropdown">
        <a class="btn btn-success dropdown-toggle"  href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
         Bienvenue {{ username| uppercase }}
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/profile" routerLink="profile">Profile</a>
          
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href (click)="logout()">Deconnexion</a>
        </div>
        
      </li>
    </ul>
    
    
  </nav>

  <div class="container">
    <router-outlet></router-outlet>
  </div>
  <footer class="footer" style="text-align: center; position: absolute; padding-top: 20%;
  width: 100%;bottom:auto;" *ngIf="isLoggedIn">
 
    <span> Tous droits reservés © Copyright 2020-Coris Holding</span>
 
    </footer>
</div>
