<div class="container" *ngIf="currentUser; else loggedOut">
  <div class="card card-container">
    <strong>Roles:</strong>
  <ul>
    <li *ngFor="let role of currentUser.roles">
      {{ role }}
    </li>
  </ul>
    <form #f="ngForm" (ngSubmit)="onSubmit(f)" >
      <div class="form-group">
        <label for="username">Nom d'utilisateur{{ currentUser.country }}</label>
        <input
          type="text" class="form-control" name="country"
          [(ngModel)]="currentUser.username" hidden/>
      </div>
      <div class="form-group">
        <label for="email">Email</label>
        <input
          type="email" class="form-control" 
          name="email" [(ngModel)]="currentUser.email" #email=ngModel disabled/>
        
      </div>
      <input
          type="text" class="form-control" name="country"
          [(ngModel)]="currentUser.username" hidden/>
      <div class="form-group">
        <label for="password1">Ancien mot de passe</label>
        <input
          type="password"
          class="form-control"
          name="password1"
          required
          minlength="6"
          [(ngModel)]="form.password1"
          #password1=ngModel
        />
      </div>
      <div class="form-group">
        <label for="password">Nouveau mot de passe</label>
        <input
          type="password"
          class="form-control"
          name="password"
          required
          [(ngModel)]="form.password"
          #password=ngModel
          minlength="6"
        />
      </div>
      <div class="form-group">
        <button class="btn btn-info btn-block" type="submit">Valider</button>
      </div>

    </form>

    
  </div>
</div>
<ng-template #loggedOut>
 <p style="padding-top: 30px;"> Veuillez vous connecter s'il vous plaît!<a class="btn btn-info" href (click)="logout()">Connexion</a>.</p>
</ng-template>
